* {
    font-family: 'Quicksand', sans-serif;
    /* box-sizing: border-box; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(45deg, #a2d2ff, #ffafcc);
    /* height: 100vh; */
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: auto 5fr;
    gap: 1rem;
    margin: 1rem;
}

aside {
    background: #00000019;
    color: #ffffff;
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 2rem;
    width: 300px;
}

header {
    background: #ffffff;
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 2rem 3rem;
}

main {
    background: #f2f2f2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content;
    grid-column: 2 / 3;
    grid-row: 2;
    gap: 0 2rem;
    padding: 2rem;
}

aside,
header,
main {
    border-radius: 2rem;
}

/* --Aside Content-- */

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
}

aside a {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.options,
.alt-options {
    margin: 2.5rem 0;
}

.options>div,
.alt-options>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
    transition: all 200ms;
}

/* .options > div:hover, .alt-options > div:hover {
    background: #ffffff;
} */

/* --Header Content-- */

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.searchbar,
.head-profile {
    display: flex;
    align-items: center;
}

.searchbar {
    justify-content: flex-end;
    gap: 1rem;
    width: 70%;
}

.head-profile {
    justify-content: flex-end;
    gap: 2rem;
    width: 30%;
}

.bar {
    background: #00000019;
    width: 90%;
    height: 32px;
    padding: 0 1rem;
    border-radius: 2rem;
    border-style: none;
}

.bar:focus {
    outline: none;
}

.head-pic {
    background: #4f4f4f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h2 {
    font-size: 28px;
}

.main-pic {
    background: #4f4f4f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 2rem;
}

.buttons button {
    background: #cdb4db;
    color: #ffffff;
    width: 120px;
    font-size: 18px;
    font-weight: 600;
    padding: .6rem 2rem;
    border-radius: 2rem;
    border-style: none;
}

/* --Main Content-- */

article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.project,
.announce,
.trending {
    margin-bottom: 1rem;
}

.project {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.announce {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    margin-top: 2rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.tile {
    background: #ffffff;
    border-left: 10px solid #cdb4db;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border-radius: 1rem;
    padding: 2rem;
}

.aside-tile {
    background: #ffffff;
    height: min-content;
    border-radius: 1rem;
    padding: 2rem;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    margin-bottom: .5rem;
}

h5 {
    font-size: 14px;
    margin-bottom: .5rem;
}

.at-info {
    padding: 1rem .5rem;
}

.at-info:nth-child(2) {
    border-bottom: 2px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;
}

.at-info p {
    font-size: 12px;
}

.tile-options {
    text-align: end;
}

.tile-icon {
    margin-left: 1rem;
}